<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ID_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{288,196},{28,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Insert_result_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,31}</string>
                <key>spriteSourceSize</key>
                <string>{113,31}</string>
                <key>textureRect</key>
                <string>{{213,34},{113,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_play_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{66,71}</string>
                <key>textureRect</key>
                <string>{{128,144},{66,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>amount_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{128,217},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balance_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{178,217},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{213,100},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,31}</string>
                <key>spriteSourceSize</key>
                <string>{141,31}</string>
                <key>textureRect</key>
                <string>{{147,1},{141,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>check_card_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,31}</string>
                <key>spriteSourceSize</key>
                <string>{58,31}</string>
                <key>textureRect</key>
                <string>{{196,144},{58,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>empty_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,31}</string>
                <key>spriteSourceSize</key>
                <string>{114,31}</string>
                <key>textureRect</key>
                <string>{{180,1},{114,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,31}</string>
                <key>spriteSourceSize</key>
                <string>{114,31}</string>
                <key>textureRect</key>
                <string>{{213,1},{114,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_01_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,71}</string>
                <key>spriteSourceSize</key>
                <string>{141,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_02_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{180,117},{25,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{295,166},{28,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>open_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{56,30}</string>
                <key>textureRect</key>
                <string>{{256,194},{56,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quit_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,31}</string>
                <key>spriteSourceSize</key>
                <string>{57,31}</string>
                <key>textureRect</key>
                <string>{{263,100},{57,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scanning_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,42}</string>
                <key>spriteSourceSize</key>
                <string>{81,42}</string>
                <key>textureRect</key>
                <string>{{84,144},{81,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seat_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,48}</string>
                <key>spriteSourceSize</key>
                <string>{105,48}</string>
                <key>textureRect</key>
                <string>{{1,144},{105,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stop_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,31}</string>
                <key>spriteSourceSize</key>
                <string>{113,31}</string>
                <key>textureRect</key>
                <string>{{213,67},{113,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>submit_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,31}</string>
                <key>spriteSourceSize</key>
                <string>{58,31}</string>
                <key>textureRect</key>
                <string>{{229,134},{58,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,31}</string>
                <key>spriteSourceSize</key>
                <string>{58,31}</string>
                <key>textureRect</key>
                <string>{{262,134},{58,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tv_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,31}</string>
                <key>spriteSourceSize</key>
                <string>{86,31}</string>
                <key>textureRect</key>
                <string>{{51,144},{86,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>village_01_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,71}</string>
                <key>spriteSourceSize</key>
                <string>{141,71}</string>
                <key>textureRect</key>
                <string>{{74,1},{141,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>village_02_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{228,204},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>village_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{295,133},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI_zh_TW.png</string>
            <key>size</key>
            <string>{328,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ac914319192127e51debdd65c63d645:1372321a4e4918e51c3aaea61e7da6ba:6fe951209ca855f6565d1b5abd862424$</string>
            <key>textureFileName</key>
            <string>UI_zh_TW.png</string>
        </dict>
    </dict>
</plist>
