<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4doors_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,348}</string>
                <key>spriteSourceSize</key>
                <string>{308,348}</string>
                <key>textureRect</key>
                <string>{{1,688},{308,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4doors_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,348}</string>
                <key>spriteSourceSize</key>
                <string>{308,348}</string>
                <key>textureRect</key>
                <string>{{311,688},{308,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6doors_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,348}</string>
                <key>spriteSourceSize</key>
                <string>{308,348}</string>
                <key>textureRect</key>
                <string>{{621,688},{308,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6doors_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,348}</string>
                <key>spriteSourceSize</key>
                <string>{308,348}</string>
                <key>textureRect</key>
                <string>{{1084,523},{308,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Folded_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,111}</string>
                <key>spriteSourceSize</key>
                <string>{236,111}</string>
                <key>textureRect</key>
                <string>{{1763,557},{236,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Folded_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,111}</string>
                <key>spriteSourceSize</key>
                <string>{236,111}</string>
                <key>textureRect</key>
                <string>{{1044,833},{236,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Folding_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,111}</string>
                <key>spriteSourceSize</key>
                <string>{236,111}</string>
                <key>textureRect</key>
                <string>{{1044,946},{236,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Folding_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,111}</string>
                <key>spriteSourceSize</key>
                <string>{236,111}</string>
                <key>textureRect</key>
                <string>{{1282,833},{236,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cancel_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,111}</string>
                <key>spriteSourceSize</key>
                <string>{276,111}</string>
                <key>textureRect</key>
                <string>{{1783,1},{276,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cancel_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,111}</string>
                <key>spriteSourceSize</key>
                <string>{276,111}</string>
                <key>textureRect</key>
                <string>{{931,688},{276,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_box4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{697,520}</string>
                <key>spriteSourceSize</key>
                <string>{697,520}</string>
                <key>textureRect</key>
                <string>{{1084,1},{697,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_box_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,274}</string>
                <key>spriteSourceSize</key>
                <string>{214,274}</string>
                <key>textureRect</key>
                <string>{{1434,523},{214,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,111}</string>
                <key>spriteSourceSize</key>
                <string>{236,111}</string>
                <key>textureRect</key>
                <string>{{1282,946},{236,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,111}</string>
                <key>spriteSourceSize</key>
                <string>{236,111}</string>
                <key>textureRect</key>
                <string>{{1520,799},{236,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>insert_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,111}</string>
                <key>spriteSourceSize</key>
                <string>{236,111}</string>
                <key>textureRect</key>
                <string>{{1633,801},{236,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>insert_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,111}</string>
                <key>spriteSourceSize</key>
                <string>{236,111}</string>
                <key>textureRect</key>
                <string>{{1876,557},{236,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>msg_frame4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1081,685}</string>
                <key>spriteSourceSize</key>
                <string>{1081,685}</string>
                <key>textureRect</key>
                <string>{{1,1},{1081,685}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replace_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,111}</string>
                <key>spriteSourceSize</key>
                <string>{276,111}</string>
                <key>textureRect</key>
                <string>{{1650,523},{276,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>replace_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,111}</string>
                <key>spriteSourceSize</key>
                <string>{276,111}</string>
                <key>textureRect</key>
                <string>{{1783,279},{276,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scan_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,111}</string>
                <key>spriteSourceSize</key>
                <string>{236,111}</string>
                <key>textureRect</key>
                <string>{{1746,801},{236,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scan_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,111}</string>
                <key>spriteSourceSize</key>
                <string>{236,111}</string>
                <key>textureRect</key>
                <string>{{1859,795},{236,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>show_box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,54}</string>
                <key>spriteSourceSize</key>
                <string>{104,54}</string>
                <key>textureRect</key>
                <string>{{931,966},{104,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>replace_card_box.png</string>
            <key>size</key>
            <string>{1988,1058}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83a5ed66b4454a3ef6fe819fd6e846d1:a96b5f0845413ab955c0ad45293bdf37:6b6804755cf000f54ecbaf44d501430e$</string>
            <key>textureFileName</key>
            <string>replace_card_box.png</string>
        </dict>
    </dict>
</plist>
