<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4doors_1_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,65}</string>
                <key>spriteSourceSize</key>
                <string>{123,65}</string>
                <key>textureRect</key>
                <string>{{463,254},{123,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4doors_2_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,65}</string>
                <key>spriteSourceSize</key>
                <string>{123,65}</string>
                <key>textureRect</key>
                <string>{{588,272},{123,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6doors_1_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,65}</string>
                <key>spriteSourceSize</key>
                <string>{123,65}</string>
                <key>textureRect</key>
                <string>{{713,272},{123,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6doors_2_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,65}</string>
                <key>spriteSourceSize</key>
                <string>{123,65}</string>
                <key>textureRect</key>
                <string>{{838,272},{123,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Folded_1_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,53}</string>
                <key>spriteSourceSize</key>
                <string>{152,53}</string>
                <key>textureRect</key>
                <string>{{851,1},{152,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Folded_2_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,53}</string>
                <key>spriteSourceSize</key>
                <string>{152,53}</string>
                <key>textureRect</key>
                <string>{{626,34},{152,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Folding_1_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,53}</string>
                <key>spriteSourceSize</key>
                <string>{152,53}</string>
                <key>textureRect</key>
                <string>{{1,81},{152,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Folding_2_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,53}</string>
                <key>spriteSourceSize</key>
                <string>{152,53}</string>
                <key>textureRect</key>
                <string>{{155,84},{152,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Remaining _tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,30}</string>
                <key>spriteSourceSize</key>
                <string>{217,30}</string>
                <key>textureRect</key>
                <string>{{1,1},{217,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>burn_card_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,48}</string>
                <key>spriteSourceSize</key>
                <string>{186,48}</string>
                <key>textureRect</key>
                <string>{{256,34},{186,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cancel_1_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,53}</string>
                <key>spriteSourceSize</key>
                <string>{151,53}</string>
                <key>textureRect</key>
                <string>{{309,84},{151,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cancel_2_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,53}</string>
                <key>spriteSourceSize</key>
                <string>{151,53}</string>
                <key>textureRect</key>
                <string>{{462,84},{151,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clear_msg_1_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,53}</string>
                <key>spriteSourceSize</key>
                <string>{153,53}</string>
                <key>textureRect</key>
                <string>{{615,89},{153,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clear_msg_2_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,53}</string>
                <key>spriteSourceSize</key>
                <string>{153,53}</string>
                <key>textureRect</key>
                <string>{{770,107},{153,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clear_player_1_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,53}</string>
                <key>spriteSourceSize</key>
                <string>{153,53}</string>
                <key>textureRect</key>
                <string>{{105,139},{153,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clear_player_2_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,53}</string>
                <key>spriteSourceSize</key>
                <string>{153,53}</string>
                <key>textureRect</key>
                <string>{{260,139},{153,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm_1_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,53}</string>
                <key>spriteSourceSize</key>
                <string>{102,53}</string>
                <key>textureRect</key>
                <string>{{1,136},{102,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm_2_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,53}</string>
                <key>spriteSourceSize</key>
                <string>{102,53}</string>
                <key>textureRect</key>
                <string>{{415,139},{102,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>insert_1_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,53}</string>
                <key>spriteSourceSize</key>
                <string>{152,53}</string>
                <key>textureRect</key>
                <string>{{519,144},{152,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>insert_2_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,53}</string>
                <key>spriteSourceSize</key>
                <string>{152,53}</string>
                <key>textureRect</key>
                <string>{{673,162},{152,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pick_door_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,48}</string>
                <key>spriteSourceSize</key>
                <string>{180,48}</string>
                <key>textureRect</key>
                <string>{{444,34},{180,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pick_one_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,31}</string>
                <key>spriteSourceSize</key>
                <string>{166,31}</string>
                <key>textureRect</key>
                <string>{{220,1},{166,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replace_1_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,53}</string>
                <key>spriteSourceSize</key>
                <string>{151,53}</string>
                <key>textureRect</key>
                <string>{{827,162},{151,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replace_2_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,53}</string>
                <key>spriteSourceSize</key>
                <string>{151,53}</string>
                <key>textureRect</key>
                <string>{{1,194},{151,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replace_box_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,49}</string>
                <key>spriteSourceSize</key>
                <string>{227,49}</string>
                <key>textureRect</key>
                <string>{{780,56},{227,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,31}</string>
                <key>spriteSourceSize</key>
                <string>{461,31}</string>
                <key>textureRect</key>
                <string>{{388,1},{461,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scan_1_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,53}</string>
                <key>spriteSourceSize</key>
                <string>{152,53}</string>
                <key>textureRect</key>
                <string>{{154,194},{152,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scan_2_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,53}</string>
                <key>spriteSourceSize</key>
                <string>{152,53}</string>
                <key>textureRect</key>
                <string>{{308,194},{152,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scan_test_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,45}</string>
                <key>spriteSourceSize</key>
                <string>{253,45}</string>
                <key>textureRect</key>
                <string>{{1,34},{253,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>send_msg_1_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,53}</string>
                <key>spriteSourceSize</key>
                <string>{153,53}</string>
                <key>textureRect</key>
                <string>{{462,199},{153,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>send_msg_2_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,53}</string>
                <key>spriteSourceSize</key>
                <string>{153,53}</string>
                <key>textureRect</key>
                <string>{{617,217},{153,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_1_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,53}</string>
                <key>spriteSourceSize</key>
                <string>{152,53}</string>
                <key>textureRect</key>
                <string>{{772,217},{152,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_2_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,53}</string>
                <key>spriteSourceSize</key>
                <string>{152,53}</string>
                <key>textureRect</key>
                <string>{{1,249},{152,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_end_1_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,53}</string>
                <key>spriteSourceSize</key>
                <string>{152,53}</string>
                <key>textureRect</key>
                <string>{{155,249},{152,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_end_2_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,53}</string>
                <key>spriteSourceSize</key>
                <string>{152,53}</string>
                <key>textureRect</key>
                <string>{{309,254},{152,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI_zh_TW.png</string>
            <key>size</key>
            <string>{1008,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23f54ed7bd75b20a0dc6301ede02df6f:77d5b1d0fdf77fa3f7b96d8dd5fa22e8:6fe951209ca855f6565d1b5abd862424$</string>
            <key>textureFileName</key>
            <string>UI_zh_TW.png</string>
        </dict>
    </dict>
</plist>
