<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L_Newbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,37}</string>
                <key>spriteSourceSize</key>
                <string>{43,37}</string>
                <key>textureRect</key>
                <string>{{161,1},{43,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_Play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{288,1},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_Scan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,79}</string>
                <key>spriteSourceSize</key>
                <string>{33,79}</string>
                <key>textureRect</key>
                <string>{{80,1},{33,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>L_Scan_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{206,1},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_ShowCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{1,1},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_Stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{332,1},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_TV.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{245,1},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_button0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,70}</string>
                <key>spriteSourceSize</key>
                <string>{398,70}</string>
                <key>textureRect</key>
                <string>{{1,45},{398,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,70}</string>
                <key>spriteSourceSize</key>
                <string>{398,70}</string>
                <key>textureRect</key>
                <string>{{1,117},{398,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,120}</string>
                <key>spriteSourceSize</key>
                <string>{398,120}</string>
                <key>textureRect</key>
                <string>{{1,333},{398,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_button3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,70}</string>
                <key>spriteSourceSize</key>
                <string>{398,70}</string>
                <key>textureRect</key>
                <string>{{1,189},{398,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_button4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,70}</string>
                <key>spriteSourceSize</key>
                <string>{398,70}</string>
                <key>textureRect</key>
                <string>{{1,261},{398,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,51}</string>
                <key>spriteSourceSize</key>
                <string>{28,51}</string>
                <key>textureRect</key>
                <string>{{27,1},{28,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Button.png</string>
            <key>size</key>
            <string>{400,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bd00b794d6a797826e249192c6a9e28:3385468ef7958df0eac4100a1498800e:8ff35cceea7123be444813ca2c3c5cbf$</string>
            <key>textureFileName</key>
            <string>Button.png</string>
        </dict>
    </dict>
</plist>
