<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bet_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,61}</string>
                <key>spriteSourceSize</key>
                <string>{390,61}</string>
                <key>textureRect</key>
                <string>{{399,217},{390,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bet_blue_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,118}</string>
                <key>spriteSourceSize</key>
                <string>{396,118}</string>
                <key>textureRect</key>
                <string>{{399,97},{396,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bet_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,61}</string>
                <key>spriteSourceSize</key>
                <string>{390,61}</string>
                <key>textureRect</key>
                <string>{{982,73},{390,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Information.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,235}</string>
                <key>spriteSourceSize</key>
                <string>{211,235}</string>
                <key>textureRect</key>
                <string>{{920,136},{211,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{336,302},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,121}</string>
                <key>spriteSourceSize</key>
                <string>{121,121}</string>
                <key>textureRect</key>
                <string>{{797,97},{121,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butten_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,61}</string>
                <key>spriteSourceSize</key>
                <string>{288,61}</string>
                <key>textureRect</key>
                <string>{{1901,1},{288,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>butten_empty_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,53}</string>
                <key>spriteSourceSize</key>
                <string>{192,53}</string>
                <key>textureRect</key>
                <string>{{1,302},{192,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butten_empty_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1506,70}</string>
                <key>spriteSourceSize</key>
                <string>{1506,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{1506,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butten_idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,90}</string>
                <key>spriteSourceSize</key>
                <string>{196,90}</string>
                <key>textureRect</key>
                <string>{{1157,249},{196,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butten_village.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,90}</string>
                <key>spriteSourceSize</key>
                <string>{196,90}</string>
                <key>textureRect</key>
                <string>{{1383,73},{196,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,302}</string>
                <key>spriteSourceSize</key>
                <string>{390,302}</string>
                <key>textureRect</key>
                <string>{{1509,1},{390,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,111}</string>
                <key>spriteSourceSize</key>
                <string>{224,111}</string>
                <key>textureRect</key>
                <string>{{1157,136},{224,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,227}</string>
                <key>spriteSourceSize</key>
                <string>{396,227}</string>
                <key>textureRect</key>
                <string>{{1,73},{396,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,74}</string>
                <key>spriteSourceSize</key>
                <string>{151,74}</string>
                <key>textureRect</key>
                <string>{{1355,271},{151,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,48}</string>
                <key>spriteSourceSize</key>
                <string>{139,48}</string>
                <key>textureRect</key>
                <string>{{195,302},{139,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_village.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,48}</string>
                <key>spriteSourceSize</key>
                <string>{139,48}</string>
                <key>textureRect</key>
                <string>{{1508,305},{139,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,581}</string>
                <key>spriteSourceSize</key>
                <string>{22,581}</string>
                <key>textureRect</key>
                <string>{{399,73},{22,581}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,76}</string>
                <key>spriteSourceSize</key>
                <string>{263,76}</string>
                <key>textureRect</key>
                <string>{{399,280},{263,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,76}</string>
                <key>spriteSourceSize</key>
                <string>{242,76}</string>
                <key>textureRect</key>
                <string>{{664,280},{242,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI_Wheel.png</string>
            <key>size</key>
            <string>{1963,357}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86a6669ffe10900adc66659b02cf4de5:ecda822db64ae8b607a6c2f4d46d0d84:40b3b440debafba5566196730555f4a7$</string>
            <key>textureFileName</key>
            <string>UI_Wheel.png</string>
        </dict>
    </dict>
</plist>
